.infobox {

    background: #FFFFFF;
}

.humbleModal {
    z-index: 1001;
    position: absolute;
    box-shadow: 0 0 8px #000000;
    border: 3px solid transparent;
    background: #dcdcdc;
}

.humbleModal .humbleClose {
    float: right;
    cursor: pointer;
}

/*.humbleOverlay {
    position: absolute;
    background: url(../images/shadow.png);
    left: 0px;
    top: 0px;
    width:100%;
    height:100%;
    text-align:center;
    z-index: 1000;
}*/